*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules

# Baris di bawah ini dihapus agar CSS/JS terunggah ke Vercel
# /public/build sjcks

/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
Homestead.json
Homestead.yaml
Thumbs.db
.laravel-guide